.addbutton__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 600px;
    height: 300px;
    border: 5px solid #000;
    filter: url("#goo");
}
.addbutton {
    z-index: 10;
    padding: 0;
    width: 80px;
    height: 80px;

    cursor: pointer;
    font-size: 0;
    background: url('icons/add.svg') no-repeat center / 25px, rgba(249, 177, 117, 1);
    border: 0;
    border-radius: 50%;
    transition: padding .3s;
}
.addbutton:focus {
    outline: none;
}
.addbutton:active {
    padding: 32px;
}

.link, .link2 {
    position: absolute;
    z-index: 5;
    width: 45px;
    height: 45px;
    background: url('icons/add.svg') no-repeat center / 15px, #4b4bff;
    border-radius: 50%;
    transition: transform 1s ease;
}
.link:nth-child(3), .link2:nth-child(3) {
    background: url('icons/add.svg') no-repeat center / 15px, #ff0d2f;
    transition-delay: .3s;
}
.link:nth-child(4), .link2:nth-child(4) {
    background: url('icons/add.svg') no-repeat center / 15px, #9ea912;
    transition-delay: .6s;
}
.link:nth-child(5), .link2:nth-child(5) {
    background: url('icons/add.svg') no-repeat center / 15px, red;
    transition-delay: .9s;
}
.link:nth-child(6), .link2:nth-child(6) {
    background: url('icons/add.svg') no-repeat center / 15px, blue;
    transition-delay: 1.2s;
}
.link.show, .link2.show {
    transform: translateY(100px);
}
.link.show:nth-child(3), .link2.show:nth-child(3) {
    transform: translate(80px, 80px);
}
.link.show:nth-child(4), .link2.show:nth-child(4) {
    transform: translateX(100px);
}
.link.show:nth-child(5), .link2.show:nth-child(5) {
    transform: translate(80px, -80px);
}
.link.show:nth-child(6), .link2.show:nth-child(6) {
    transform: translateY(-100px);
}