body {
  margin: 100px auto;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
// our Main Button
.addBtn {
  &__wrapper {
    position: relative;
    display: inline-block;
  }
  &__wrap {
    position: relative;
      filter: url("#goo");
    &--active {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  z-index: 10;
  padding: 0;
  cursor: pointer;
  // background: url('/icons/plus_2.svg') no-repeat center / 25px;
  border: 0;
  border-radius: 50%;
  &--open {
    animation-duration: .5s;
    animation-name: scaleIn;
    animation-timing-function: ease;
  }
  &--close {
    animation-duration: .5s;
    animation-name: scaleInOut;
    animation-timing-function: ease;
  }
  &:focus {
    outline: none;
  }
  &__item {
    position: absolute;
    z-index: 5;
    cursor: pointer;
    background: #ccc;
    border-radius: 50%;
    transition: transform ease;
  }
} 

@keyframes scaleInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

