// -------------------New behavior
$colors: #D32F2F, #FF4081, #7B1FA2, #7C4DFF, #2196F3, #03A9F4, #00BCD4, #009688, #4CAF50, #8BC34A;
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 400px;
  height: 300px;
  border: 2px solid gray;
}
// our Main Button
.addBtn {
  &__wrap {
    position: relative;
    filter: url("#goo");
    &.top-left {
      .addBtn__item.show-radial {
        &:nth-child(2) {
          transform: translate(0px, -100px);
        }
        &:nth-child(3) {
          transform: translate(-80px, -80px);
        }
        &:nth-child(4) {
          transform: translate(-100px, 0px);
        }
        &:nth-child(5) {
          transform: translate(80px, -80px);
        }
        &:nth-child(6) {
          transform: translate(100px, 0px);
        }
        &:nth-child(7) {
          transform: translate(80px, 80px);
        }
        &:nth-child(8) {
          transform: translate(0px, 100px);
        }
        &:nth-child(9) {
          transform: translate(-80px, 80px);
        }
      }
    }
  }
  z-index: 10;
  padding: 0;

  cursor: pointer;
  font-size: 0;
  background: url('/icons/plus_2.svg') no-repeat center / 25px;
  border: 0;
  border-radius: 50%;
  &--active {
    animation-duration: .5s;
    animation-name: scaleIn;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
  &:focus {
    outline: none;
  }
  &__item {
    position: absolute;
    z-index: 5;
    width: 45px;
    height: 45px;
    background: url('/icons/close_2.svg') no-repeat center / 15px, #FF5722;
    border-radius: 50%;
    transition: transform .8s ease;
    @for $i from 1 through 10 {
      &:nth-child(#{$i + 1}) {
        color: #fff;
        background-color: nth($colors , $i);
        transition-delay: (0.0s + ($i - 1) * 0.5);
      }
    }
    &.show-radial {
      &:nth-child(2) {
        transform: translate(0px, 100px);
      }
      &:nth-child(3) {
        transform: translate(80px, 80px);
      }
      &:nth-child(4) {
        transform: translate(100px, 0px);
      }
      &:nth-child(5) {
        transform: translate(80px, -80px);
      }
      &:nth-child(6) {
        transform: translate(0px, -100px);
      }
      &:nth-child(7) {
        transform: translate(-80px, -80px);
      }
      &:nth-child(8) {
        transform: translate(-100px, 0px);
      }
      &:nth-child(9) {
        transform: translate(-80px, 80px);
      }
    }
    &.show-horizontal {
      &:nth-child(2) {
        transform: translateX(100px);
      }
      &:nth-child(3) {
        transform: translateX(170px);
      }
      &:nth-child(4) {
        transform: translateX(240px);
      }
      &:nth-child(5) {
        transform: translateX(310px);
      }
      &:nth-child(6) {
        transform: translateX(380px);
      }
    }
    &.show-vertical {
      &:nth-child(3) {
        transform: translateY(100px);
      }
      &:nth-child(3) {
        transform: translateY(170px);
      }
      &:nth-child(4) {
        transform: translateY(240px);
      }
      &:nth-child(5) {
        transform: translateY(310px);
      }
      &:nth-child(6) {
        transform: translateY(380px);
      }
    }
  }
} 

@keyframes scaleInOut {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(0.85);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

